#*****************************************************************
# Neo4j
#*****************************************************************
NEO4J_URI=<neo4j+s://xxxxx.databases.neo4j.io>
AURA_DS=false
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=<password>

#*****************************************************************
# Embedding Model and LLM
#*****************************************************************
EMBEDDING_MODEL=openai #or sentence_transformer or aws
LLM=gpt-3.5 #or gpt-4 or claudev2

#*****************************************************************
# OpenAI
#*****************************************************************
# Only required when using OpenAI embedding model

OPENAI_API_KEY=sk-...

#*****************************************************************
# AWS
#*****************************************************************
# Only required when using AWS Bedrock embedding model

#AWS_ACCESS_KEY_ID=
#AWS_SECRET_ACCESS_KEY=
#AWS_DEFAULT_REGION=us-east-1
