#*****************************************************************
# Neo4j
#*****************************************************************
NEO4J_URI=<neo4j+s://xxxxx.databases.neo4j.io>
AURA_DS=false
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=<password>

#*****************************************************************
# AI
#*****************************************************************
OPENAI_API_KEY=sk-...

#*****************************************************************
# AURA - for GitHub Admin Only (GitHub Action CI/CD)
#*****************************************************************
AURA_TENANT_ID=<>
AURA_CLIENT_ID=<>
AURA_CLIENT_SECRET=<>
AURA_REGION=<>
AURA_CLOUD_PROVIDER=<>